.kondate {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;

  &:first-child {
    margin-top: 0;
  }

  .kondate-image {
    background: {
      size: cover;
      repeat: no-repeat;
      position: center center;
    }

    .image-spacer {
      width: 100%;
      min-height: 320px;
    }
  }

  .kondate-content {
    dl dd {
      overflow-wrap: break-word;
    }
  }
}
