<%= form_tag url: kondate_path, method: :post do |f| %>
    <div class="form-group">
      <%= label_tag :query, '何食べた？' %>
      <%= text_field_tag :query, params[:query], class: 'form-control js-kondate-title-field' %>
    </div>

    <%= submit_tag '送信', class: 'btn btn-primary' %>
<% end %>
