<%= form_for kondate, url: kondate_path, method: :post do |f| %>
    <div class="form-group">
      <%= f.label :title, '何食べた？' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <%= f.submit '送信', class: 'btn btn-primary' %>
<% end %>
