<div class="container">
  <% if @kondates.present? %>
      <%= render 'kondates/kondate', kondate: @kondates.breakfast %>
      <%= render 'kondates/kondate', kondate: @kondates.lunch %>
      <%= render 'kondates/kondate', kondate: @kondates.dinner %>
  <% end %>
</div>
