<%= form_for(boarding) do |f| %>
  <% if boarding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boarding.errors.count, "error") %> prohibited this boarding from being saved:</h2>

      <ul>
      <% boarding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
