<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <%= image_tag 'logo.png', style: 'max-width: 100%;' %>
    </div>
  </div>

  <% if current_user.blank? %>
      <div class="row">
        <div class="col-6">
          <%= link_to '今日何食べる？', new_kondate_path, class: 'btn btn-primary btn-block' %>
        </div>
        <div class="col-6">
          <%= link_to "FBログイン", user_facebook_omniauth_authorize_path, class: 'btn btn-secondary btn-block' %>
        </div>
      </div>
  <% else %>
      <div class="row justify-content-center">
        <div class="col-md-6 col-xs-12">
          <%= link_to '今日何食べる？', new_kondate_path, class: 'btn btn-primary btn-block' %>
        </div>
      </div>
  <% end %>

  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
  <button type="button" class="btn btn-primary">Primary</button>

  <!-- Secondary, outline button -->
  <button type="button" class="btn btn-secondary">Secondary</button>

  <!-- Indicates a successful or positive action -->
  <button type="button" class="btn btn-success">Success</button>

  <!-- Contextual button for informational alert messages -->
  <button type="button" class="btn btn-info">Info</button>

  <!-- Indicates caution should be taken with this action -->
  <button type="button" class="btn btn-warning">Warning</button>

  <!-- Indicates a dangerous or potentially negative action -->
  <button type="button" class="btn btn-danger">Danger</button>

  <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
  <button type="button" class="btn btn-link">Link</button>
</div>
