$primary-color: #ff5722;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);
$secondary-color: #f4511e;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;


@import "materialize";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.footer-copyright {
  .right {
    &:not(:first-child) {
      &:after {
        padding-right: .5em;
        padding-left: .5em;
        content: "|";
      }
    }
  }
}
